<%=render partial: "shared/userin_main_nav" %>
<%=render partial: "shared/main_start" %>

<section class = "review-page">
  <article>
  <h2 class="review-page_h2">
    Write a review
  </h2>
  <div class="basic_container review_container">
    <form class="form write_review">
      <div class="course_name_code">
        <input type="text" name="course_name" placeholder="Course Name" aria-label="Course Name"  id="course_name" class="form-input course_name_input"/>
        <input type="text" name="course_code" placeholder="Course Code" aria-label="Course Code"  id="course_code" class="form-input course_code_input"/>
      </div>

      <div class="basic_container y_t_prof">
        <label for = "course_year" class = "form-label course_year">Year:</label>
        <input type="text" name="course_year" id="course_year" class="form-input course_year_input"/>

        <label for = "course_term" class = "form-label course_term">Term:</label>
        <input type="text" name="course_term" id="course_term" class="form-input course_term_input"/>

        <label for = "course_prof" class = "form-label course_professor">Professor:</label>
        <input type="text" name="course_prof" id="course_prof" class="form-input course_prof_input"/>
      </div>

      <!--<div class="basic_container rate_course">
      </div>-->

      <div class="basic_container review_text_area">
        <div class="basic_container review_text_area_header">
          <h3>
            Review the Course
          </h3>
        </div>
        <input type="text" name="course_review" placeholder="Write a review..." aria-label="Course Review"  id="course_review" class="form-input course_review_input"/>
      </div>
    </form>
  </div>
  </article>
</section>

<%=render partial: "shared/main_end" %>
<%=render partial: "shared/footer" %>