<h1>Hello, Rails!</h1>
<h2>Hi, welcome to my little corner on the internet!</h2>

<h3>The Third Header</h3>
<p>Find me in app/views/articles/index.html.erb
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque malesuada sodales sollicitudin. Suspendisse bibendum porttitor tempus. Cras eu ante pharetra, sodales elit a, suscipit tortor. Nullam scelerisque auctor sapien nec accumsan. In quis lectus quis ante tincidunt ornare. Suspendisse rhoncus malesuada augue, quis vulputate lorem tristique sit amet. In commodo tortor quis lorem scelerisque efficitur. Morbi molestie massa diam, vel laoreet ligula tempor a. Aliquam erat volutpat. Donec varius lacinia metus, vitae faucibus sapien porta at. Integer lacinia mi purus, id faucibus lacus bibendum sed. Nunc tincidunt vitae turpis eget aliquam. Mauris sollicitudin metus nec nisi venenatis, non tristique libero elementum. Mauris scelerisque tellus in congue suscipit. <br>

  <br>Integer et nisl aliquet, euismod diam vitae, porttitor urna. Quisque consequat varius sodales. Phasellus luctus lacus at diam elementum auctor. Aenean mattis, nisl non posuere interdum, ante purus tristique velit, vitae rutrum ipsum dolor a ligula. Sed nec laoreet enim, ut rutrum enim. Quisque vulputate leo odio, vitae varius erat sollicitudin ut. Donec pulvinar tellus tortor, at placerat neque malesuada ac. Sed porttitor mauris eu elit mollis malesuada. In varius, tellus nec aliquam ullamcorper, nisi velit tincidunt felis, eget tincidunt elit felis in ante. Donec semper elementum turpis ut gravida. Curabitur tincidunt ligula massa, placerat sollicitudin neque aliquam fringilla. Sed aliquet porttitor euismod. Pellentesque consectetur efficitur ipsum at blandit. Phasellus blandit vestibulum ligula, et pretium erat egestas vel. In in blandit neque. <br>

  <br>Pellentesque consequat velit in purus eleifend auctor. Etiam suscipit tincidunt dui, id porttitor urna sagittis consectetur. Phasellus sed nunc id purus fringilla consequat. Curabitur aliquet metus justo, sed congue est tincidunt eget. Etiam ut mi luctus, blandit tellus ac, molestie massa. Sed sed vestibulum sapien. Duis eget est risus. Donec semper, leo at consectetur condimentum, justo leo auctor magna, malesuada vehicula lectus nulla at ex. Nullam suscipit metus purus, egestas interdum est tincidunt eget. Nam vel scelerisque eros, sit amet pulvinar nisl. Ut venenatis est velit, eget gravida est egestas vel.
</p>


