<!---footer-->
<footer class = "page-footer">
  <p>&copy; <span id = "date">2021</span>
    <span class = "footer-logo">
      eduScore
    </span>
    Built by AC
  </p>
</footer>
<!---end of footer-->