<!--TITLE NAVBAR HEADER-->
<%=render partial: "shared/navbar_setup" %>
  <!--HEADER-->
<main class="page">
  <header class ="hero">
    <div class="hero-container">
      <div class="hero-text">
        <h1>See what your classmates are saying about their classes!</h1>
        <%= link_to "Find Your School", find_school_path, class: "btn"%>
      </div>
    </div>
  </header>
</main>
<!--FOOTER-->
<%=render partial: "shared/footer"%>
    <script src="./manifest.js"></script>
  </body>
</html>
